/* components/laporanKeuanganBuku/laporanKeuanganBuku.css */

h2 {
    font-size: 30px; /* Ubah ukuran font judul */
    text-align: left;
    font-weight: bold;
}

.dashboard-content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
    margin: 20px;
  }

  .message.error {
    color: red;
}


