/* components/laporanKeuanganBuku/laporanKeuanganBuku.css */
.container {
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    font-size: 50px; /* Ubah ukuran font judul */
    text-align: left;
}
